<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/style.css" />
    <title>로그인</title>
  </head>
  <body>
    <div class="all">
      <header>
        <img
          src="./resource/logo.png"
          class="coupangImage"
          onclick="location.href='https://www.coupang.com/'"
        />
      </header>
      <section>
        <div class="login">
          <label class="email">
            <span class="emailButton">
              <img src="./resource/email.png" class="emailImage" />
            </span>
            <span class="idEmail">
              <input
                type="email"
                placeholder="아이디(이메일)"
                class="id"
                id="id"
                name="id"
              />
            </span>
          </label>
          <label class="password">
            <span class="passwordButton">
              <img src="./resource/password.png" class="passwordImage" />
            </span>
            <span class="idPassword">
              <input
                type="password"
                placeholder="비밀번호"
                class="pw"
                id="pw"
                name="pw"
              />
            </span>
          </label>
          <div class="check">
            <div class="checkbox-wrap">
              <input type="checkbox" class="checkbox" />
              <span class="autologin">자동로그인</span>
            </div>
            <span class="find">아이디(이메일)/비밀번호 찾기 ></span>
          </div>
          <div class="button">
            <button class="loginButton">로그인</button>
          </div>
        </div>
        <hr />
        <div class="button2">
          <button class="joinButton" onclick="location.href='signUp.html'">
            회원가입
          </button>
        </div>
      </section>
      <footer>
        <p class="finish">©Coupang Corp. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
